.navbar {
  background-color: #111;
  color: #87cefa; 
}

mat-toolbar a,
mat-toolbar button,
mat-toolbar span {
  color: #87cefa !important;
  text-decoration: none;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.spacer {
  flex: 1 1 auto;
}
