<mat-toolbar class="navbar">
    <div class="navbar-left">
      <span class="title">SurfApp</span>
      <div class="nav-links">
        <a mat-button routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a mat-button routerLink="/spots" routerLinkActive="active-link">Spots</a>
        <a *ngIf="user?.role === 'admin'" mat-button routerLink="/create" routerLinkActive="active-link">Create</a>
      </div>
    </div>
  
    <span class="spacer"></span>
  
    <div class="navbar-right">
      <ng-container *ngIf="user; else loginButton">
        <button mat-button [matMenuTriggerFor]="menu" class="profile-badge">
          <div class="badge-icon" [style.backgroundColor]="user.iconColor || '#4CAF50'">
            <span *ngIf="!user.image">{{ getUserInitials() }}</span>
            <img *ngIf="user.image" [src]="user.image" alt="profile" class="user-avatar" />
          </div>
        </button>
        <mat-menu #menu="matMenu" class="profile-menu">
          <div class="menu-header">
            <div class="menu-avatar-container">
              <div class="menu-avatar" [style.backgroundColor]="user.iconColor || '#4CAF50'">
                <span *ngIf="!user.image">{{ getUserInitials() }}</span>
                <img *ngIf="user.image" [src]="user.image" alt="profile" class="user-avatar" />
              </div>
            </div>
            <div class="menu-user-info">
              <span class="menu-username">{{ user.name }}</span>
              <span class="menu-email">{{ user.email }}</span>
            </div>
          </div>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/profile">
            <mat-icon>person</mat-icon>
            <span>My Profile</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </ng-container>
  
      <ng-template #loginButton>
        <button mat-button class="login-button" (click)="login()">
          <mat-icon>login</mat-icon>
          <span>Login</span>
        </button>
      </ng-template>
    </div>
  </mat-toolbar>