.navbar {
  background-color: #111;
  color: #87cefa;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.spacer {
  flex: 1 1 auto;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
