.spot-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
  max-width: 1300px;
  margin: 0 auto;
}

.spot-card {
  background-color: #1e1e1e;
  color: #87cefa;
}

mat-card-title,
mat-card-subtitle,
mat-card-content p {
  color: #87cefa;
}

mat-card-image {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #444;
}
